:root
{
    --background-color: #ffffff;
    --main-gray: #898989;
    --main-yellow: #F3C327;
    --font-family-val: 'Open sans', sans-serif;

    --main-text-color: #000000;
}

html, body, main
{
    font-family: var(--font-family-val);
    font-size: 15px;
    margin: 0;
}

header
{
    width: 100vw;
    background-color: white;
    border-bottom: 1px solid #898989;
    z-index: 10;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
}

.header-content
{
    width: min(1200px, 100%);
    margin: 20px calc((100% - 1200px) / 2);
    display: flex;
    align-items: center;
    justify-content: start;
    overflow: hidden;
}

.header-left
{
    display: flex;
    align-items: center;
    gap: 10px;
}

#header-image
{
    width: auto;
    height: 50px;
}

.header-left-link
{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: bold;
    font-size: 34px;
    line-height: 20px;
}

.header-mid
{
    margin-left: 20%;
}

.header-mid-links
{
    display: flex;
    gap: 20px;
}

.header-mid-link
{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 550;
    font-size: 20px;
    line-height: 20px;
}

.header-right
{
    margin-left: 10%;
    display: flex;
    align-items: center;
}

.header-right-img
{
    width: auto;
    height: 25px;
}

.header-right-text
{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    gap: 5px;
}

.header-details-link
{
    text-decoration: none;
    color: var(--main-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.company
{
    position: relative;                     /* David added this to custom position */
    top: 120px;
    display: flex;
    justify-content: center;

}

.company-content
{
    width: min(1200px, 100%);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}

.company-content-img
{
    height: 700px;
    width: auto;
}

.company-content-right
{
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-top: 200px;
    justify-content: left;
}

.company-content-right-name
{
    font-weight: bold;
    font-size: 90px;
    line-height: 20px;
}

.company-content-right-info
{
    margin-left: 10px;
    margin-top: -20px;
    font-size: 20px;
}

.call-me-form {
  position: relative;
  top: 280px;
  margin-left: calc((100% - 1200px)/2);
  margin-right: calc((100% - 1200px)/2);
  width: 1200px;
  height: 400px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 0px;
}

.call-me-img{
  position: absolute;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  height: 400px;
  right: -1px;
  bottom: 0;
}

.call-me-form-button {
  position: absolute;
  width: 250px;;
  height: 50px;;
  background-color: #061831;
  color: #fff;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.4s;
  left: 275px;
  bottom: 35px;
  font-size: 20px;
}


.call-me-form-button:hover {
  background-color: #B0C7D1;
}

h2 {
  margin-top: 20px;
}

.call-me-input-box{
  position: relative;
  width: 600px;
  left: 140px;
  top: -70px;
}

.call-me-front-text{
  position: relative;
  text-align: center;
  bottom: 150px;
  font-size: 35px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.call-me-text{
  font-size: 20px;
  left: 10px;
}

.call-me-input-box input::placeholder {
  text-align: left;
  font-size: 25px;
}

.rounded-box {
  position: relative;
  bottom: 10px;
  border-radius: 5px;
  width: 500px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 20px;
}

input[type="text"] {
  width: 480px;
  padding: 10px;
  font-size: 25px;
  border: none
}



.swiper {
  position: relative;
  margin-left: calc((100% - 1400px)/2);
  margin-right: calc((100% - 1400px)/2);
  top: 600px;
  width: 1400px;
  height: 730px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  display: flex;
  justify-content: center;
  align-items: center;
}


.mySwiper .swiper-button-prev,
.mySwiper .swiper-button-next {
  color: white;
  background-color: #32363F;
  padding: 10px;
  border-radius: 50%;
  width: 15px;
  height: 15px;
}
.mySwiper .swiper-button-prev{
  position: absolute;
  left: 30px;
  top: 453px;
}
.mySwiper .swiper-button-next{
  position: absolute;
  right: 30px;
  top: 453px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 10px;
}


.mySwiper .swiper-button-prev:hover,
.mySwiper .swiper-button-next:hover {
    background-color: #8395a8;
}


.mySwiper .swiper-pagination-bullet {
  background-color: #0c141d;
}

.table-container{
  position: relative;
  margin-top: -150px;
}

.TableDescription{
  position: relative;
  font-size: 30px;
  bottom: 10px;
}

.mySwiper .swiper-pagination {
  position: absolute;
  bottom: 0px;
}

.concrete-price-table {
  position: relative;
  width: 1200px;
  margin-left: calc((100% - 1200px)/2);
  margin-right: calc((100% - 1200px)/2);
  border-collapse: collapse;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.concrete-price-table thead tr {
  background-color: #31363F;
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 17px;
}

.table-text-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 60px;
  border-radius: 100px;
  background-color: #EAECF4;
  margin: auto;
}

.concrete-price-table th,
.concrete-price-table td {
  padding: 20px 15px;
  width: auto;
  text-align: center;
  align-items: center;
}

.concrete-price-table tbody tr {
  font-size: 17px;
  border-bottom: 1px solid #dddddd;
}

.concrete-price-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.concrete-price-table tbody tr:last-of-type {
  border-bottom: 2px solid #31363F;
}

.concrete-price-table .compressive-strength{
  width: auto;
  align-items: center;
  justify-content: center;
}

.concrete-price-table .tensile-strength{
  width: auto;
  align-items: center;
  justify-content: center;
}

.mapContainer{
  margin-top: 200px;;
  margin-left: calc((100% - 1200px)/2);
}


.calculate-price
{
    margin-top: 800px;
    margin-left: calc((100% - 1200px)/2);
    margin-right: calc((100% - 1200px)/2);
    margin-bottom: 0px;
}

.calculate-price-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calculate-price-content-title
{
    text-align: center;
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.calculate-price-content-box
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 1200px;
    height: 600px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    overflow: hidden;
}

.calculate-price-content-box-calculation
{
    position: relative;
    display: flex;
    justify-content: space-evenly;
}

.calculate-price-content-box-left
{
    position: relative;
}

.calculate-price-content-box-left-element
{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
 
.calculate-price-content-box-left-img
{
  position: inherit;
  margin-top: 4px;
  margin-left: -150px;
  height: 600px;
}

.calculate-price-content-box-element-text
{
    font-size: 20px;
    font-weight: 550;
}

.calculate-price-content-box-right
{
    margin-top: 40px;
}


.calculate-price-content-box-right-element-input
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.calculate-price-input
{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    border: 0px solid #ffffff1f;
}

.calculate-price-result
{
    position: absolute;
    font-size: 25px;
    left: 700px;
    bottom: 40px;
}

.calculate-price-disclaimer
{
    position: absolute;
    right: 20px;
    bottom: 0;
}

.calculate-price-input-field
{
    width: 288px;
    border-radius: 10px;
    border: 1px solid #2a292943;
    background-color: transparent;
    font-family: var(--font-family-val);
    font-size: 20px;
    height: 30px;
    padding-left: 10px;

}

.calculate-price-input-field:focus
{
  border-color: #18171743;
  outline: none;
}






footer {
  position: relative;
  top: 0px;
  background-color: #31363F;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer-content{
  margin-left: calc((100% - 1200px)/2);
  margin-right: calc((100% - 1200px)/2);
  width: min(1200px, 100%);
  display: flex;
  justify-content: center;
  gap: 20%;
}

#footer-image {
  width: 200px;
  height: auto;
}

.footer-right-text {
  position: relative;
  display: flex;
  flex-direction: column;
}

.footer-mid-text {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px
}

.footer-mid-details-text {
  text-decoration: none;
  color: white;
}

.footer-right-details-text {
    color: white;
    margin-bottom: 0px;
}



.map-form {
  position: relative;
  top: 200px;
  left: 80px;
  margin-right: calc((100% - 1200px)/2);
  text-align: center;
  width: 400px;
}

.map-form-front-text {
  text-align: center;
  font-size: 25px;
  margin-left: 45px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.map-form-input-box {
  width: 400px;
  height: 400px ;
  margin: 0 auto;
  background-color: white;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.city-text-map-form {
  margin-top: 40px;
  margin-bottom: 10px;
}

.map-form-box {
  margin-top: 20px;
}

.map-form-box input {
  margin-top: 20px;
  width: calc(100% - 100px);
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.map-form-button {
  margin-top: 40px;
  background-color: #061831;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 18px;
}

.map-form-price-text{
  margin-top: 40px;
  font-size: 30px;
}

.map-form-button:hover {
  background-color: #999;
}



@media screen and (max-width: 760px) {
  .footer-content {
      margin-left: 20px;
      margin-right: 20px;
      flex-direction: column;
      gap: 10px;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
}

.map-section{
  position: relative;
  display: flex;
  flex-direction: row;
  margin-bottom: 150px;
}





/*------------------------------------
Concrete page
------------------------------------*/

.concrete-info
{
    width: 1200px;
    margin-left: calc((100% - 1200px)/2);
    margin-top: 80px;
    margin-bottom: 50px;
}


.concrete-info-header
{
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.concrete-info-section-header
{
  font-size: 30px;
}

.concrete-info-section-text
{
  margin-top: -15px;
  font-size: 18px;
}

.concrete-marks
{
    margin-top: -20px;
    display: flex;
    gap: 5%;
}

.concrete-marks-header
{
  font-size: 23px;
}

.concrete-marks-description
{
  margin-top: -15px;
  font-size: 15px;
}

.extraFooter-content
{
    justify-content: left;
    background-color: #31363F;
    color: white;
    height: 50px;
}

.extraFooter-content-name
{
    position: absolute;
    right: 10%;
}